<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Shepherd</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" href="/home">Shepherd</a>
                    <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="side-nav">
            <nav class="main-nav" role="navigation">
                <ul class="unstyled list-hover-slide">
                    <li><a href="/home">Dashboard</a></li>
                    <li><a href="">Project Management</a></li>
                    <li><a href="/pen/allpens">Projects</a></li>
                    <li><a href="/ticket/AllUserTickets">Tickets</a></li>
                </ul>
            </nav>
        </div>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
                @{
                    User CurrentUser = ViewBag.CurrentUser;
                }
            </main>
        </div>
        <div class="chat-container">
            <h3>Chat</h3>
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <input type="hidden" id="userInput" value="@CurrentUser.FirstName" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">Message: </div>
                    <div class="col-4">
                        <input type="text" id="messageInput" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <input type="button" id="sendButton" value="Send Message" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <ul id="messagesList"></ul>
                </div>
            </div>
        </div>

        @* <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - Shepherd
            </div>
        </footer> *@
        <script src="~/js/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/chat.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>