@model Project

@{
    ViewData["Title"] = "All Projects";
    User CurrentUser = ViewBag.CurrentUser;
}

<div class="table-containers">
    <h4>All Projects</h4>
    <a class="Project-button" href="Project/new"><button>Add New Project</button></a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"><h5>Name</h5></th>
                <th scope="col"><h5>Manager</h5></th>
                <th scope="col"><h5>Team Members</h5></th>
                <th scope="col"><h5>Tickets</h5></th>
                <th scope="col"><h5>Actions</h5></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Project item in ViewBag.AllProjects)
            {
                <tr>
                    <td><a href="/Project/@item.ProjectId">@item.ProjectName</a></td>
                    <td>@item.Shepherd.FirstName</td>
                    <td>@item.TeamMembers.Count</td>
                    <td>@item.Tickets.Count</td>
                    <td>
                        @if (item.TeamMembers.Any(u => u.UserId == CurrentUser.UserId))
                        {
                            <form action="/Project/@item.ProjectId/leave" method="post">
                                <button>Leave</button>
                            </form>
                        }
                        else
                        {
                            <form action="/Project/@item.ProjectId/join" method="post">
                                <button>Join</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>