@{
    ViewData["Title"] = "Dashboard";
    User CurrentUser = ViewBag.CurrentUser;
}

<h2>Welcome @CurrentUser.FirstName</h2>

<h4>Pens</h4>
<a class="pen-button" href="pen/new"><button>Add New Pen</button></a>
<table class="table">
    <thead>
        <tr>
            <th scope="col"><h5>Names</h5></th>
            <th scope="col"><h5>Herders</h5></th>
            <th scope="col"><h5>Actions</h5></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Pen item in ViewBag.AllPens)
        {
            <tr>
                <td><a href="/pen/@item.PenId">@item.PenName</a></td>
                <td>@item.Herders.Count</td>
                <td>
                        @if (ViewBag.CurrentUser.UserId == item.Shepherd.UserId)
                        {
                            <form action="/pen/@item.PenId/delete" method="post">
                                <button>Delete</button>
                            </form>
                        }
                        else if (item.Herders.Any(p => p.UserId == CurrentUser.UserId))
                        {
                            <form action="/pen/@item.PenId/leave" method="post">
                                <button>Leave</button>
                            </form>
                        }
                        else
                        {
                            <form action="/pen/@item.PenId/join" method="post">
                                <button>Join</button>
                            </form>
                        }
                    </td>
            </tr>
        }
    </tbody>
</table>

<h4>Sheep</h4>