@model LoginUser
@{
    ViewData["Title"] = "Home Page";
}

<div class="login-group">
    <h2>Login</h2>
    <form asp-action="" asp-controller="" method="POST">
        <div class="input-icons">
            <i class="fa fa-envelope icon"></i>
            <input class="form-control" asp-for="Email" placeholder="Email">
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="input-icons">
            <i class="fa fa-lock icon"></i>
            <input class="form-control" asp-for="LoginPassword" placeholder="Password">
            <span class="text-danger" asp-validation-for="LoginPassword"></span>
        </div>
        <button class="btn btn-primary btn-block btn-lg" type="submit">Login</button>
    </form>
</div>
<partial name="Register"/>