@{
    ViewData["Title"] = "New Pen";
}

@model Pen

<h1>New Pen</h1>

<p>Make a new pen</p>

<form action="/pen/create" method="post">
    <div class="row">
        <div class="col">
            <label asp-for="PenName"></label>
        </div>
        <div class="col">
            <input asp-for="PenName" class="form-control">
            <span asp-validation-for="PenName" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label asp-for="PenDescription"></label>
        </div>
        <div class="col">
            <textarea asp-for="PenDescription" class="form-control"></textarea>
            <span asp-validation-for="PenDescription" class="text-danger"></span>
        </div>
    </div>
    <button>Create Pen</button>
</form>