@{
    ViewData["Title"] = "New Project";
}

@model Project

<h1>New Project</h1>

<p>Make a new project</p>

<form action="/project/create" method="post">
    <div class="row">
        <div class="col">
            <label asp-for="ProjectName"></label>
        </div>
        <div class="col">
            <input asp-for="ProjectName" class="form-control">
            <span asp-validation-for="ProjectName" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label asp-for="ProjectDescription"></label>
        </div>
        <div class="col">
            <textarea asp-for="ProjectDescription" class="form-control"></textarea>
            <span asp-validation-for="ProjectDescription" class="text-danger"></span>
        </div>
    </div>
    <button>Create Project</button>
</form>