@{
    ViewData["Title"] = "New Ticket";
}

@model Ticket

<h1>New Ticket</h1>

<p>Make a new Ticket</p>

<form action="/ticket/create" method="post">
    <div class="row">
        <div class="col">
            <label asp-for="TicketTitle"></label>
        </div>
        <div class="col">
            <input asp-for="TicketTitle" class="form-control">
            <span asp-validation-for="TicketTitle" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label asp-for="TicketDescription"></label>
        </div>
        <div class="col">
            <textarea asp-for="TicketDescription" class="form-control"></textarea>
            <span asp-validation-for="TicketDescription" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label asp-for="Priority"></label>
        </div>
        <div class="col">
            <textarea asp-for="Priority" class="form-control"></textarea>
            <span asp-validation-for="Priority" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label asp-for="Status"></label>
        </div>
        <div class="col">
            <textarea asp-for="Status" class="form-control"></textarea>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label asp-for="Type"></label>
        </div>
        <div class="col">
            <textarea asp-for="Type" class="form-control"></textarea>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
    </div>
    <button>Create Ticket</button>
</form>