@{
    ViewData["Title"] = "Pen";
    Pen item = ViewBag.CurrentPen;
}

@model Pen

<h2>@ViewBag.CurrentPen.PenName</h2>
<form action="/pen/@item.PenId/join" method="post"><button>Join Pen</button></form>
<form action="/pen/@item.PenId/leave" method="post"><button>Leave Pen</button></form>

<h3>Pen Creator:</h3> <p>@ViewBag.CurrentPen.Shepherd.FirstName</p>
<h3>Description:</h3>
<p>@ViewBag.CurrentPen.PenDescription</p>

<a href="/pen/@item.PenId/ticket/new">
    <button>Add Ticket</button>
</a>