@model Pen

@{
    ViewData["Title"] = "Project Management";
    User CurrentUser = ViewBag.CurrentUser;
}

<div class="table-containers">
    <h4>Project Management</h4>
    <a class="pen-button" href="/pen/new"><button>Add New Project</button></a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"><h5>Name</h5></th>
                <th scope="col"><h5>Team Members</h5></th>
                <th scope="col"><h5>Tickets</h5></th>
                <th scope="col"><h5>Actions</h5></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Pen item in ViewBag.AllPens)
            {
                @if (item.Shepherd.UserId == CurrentUser.UserId)
                {
                    <tr>
                        <td><a href="/pen/@item.PenId">@item.PenName</a></td>
                        <td>
                            @foreach (var user in item.TeamMembers)
                            {
                                <ul>
                                    @user.User.FirstName @user.User.LastName
                                </ul>
                            }
                        </td>
                        <td>
                            @foreach (var ticket in item.Tickets)
                            {
                                <ul>
                                    <a href="/ticket/@ticket.TicketId">@ticket.TicketTitle</a>
                                </ul>
                            }
                        </td>
                        <td>
                            @if (CurrentUser.UserId == item.Shepherd.UserId)
                            {
                                <form action="/pen/@item.PenId/delete" method="post">
                                    <button>Delete</button>
                                </form>
                                <a href="/pen/@item.PenId/edit">
                                    <button>Edit</button>
                                </a>
                            }
                            @if (item.TeamMembers.Any(u => u.UserId == CurrentUser.UserId))
                            {
                                <form action="/pen/@item.PenId/leave" method="post">
                                    <button>Leave</button>
                                </form>
                            }
                            else
                            {
                                <form action="/pen/@item.PenId/join" method="post">
                                    <button>Join</button>
                                </form>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>