:root {
    --primary: #1b1c17;
    --secondary: #967244;
    --tertiary: #bb9b73;
    --quaternary: #f0c484;
    --quinar: #f2ede9;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
    background: rgb(242,237,233);
    background: linear-gradient(0deg, rgba(242,237,233,1) 0%, rgba(150,114,68,1) 50%, rgba(27,28,23,1) 75%);
}

h1 {
    color: white;
}

.landing-form h3{
    margin-top: 50px;
    color: var(--quinar);
}

.landing-form form {
    margin: 10px 0;
}

.landing-form-input {
    margin: 5px 0;
}

/* .border-top {
    border-top: 1px solid #e5e5e5;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: #f2ede9;
} */

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 16px;
    }

    main {
        display: flex;
        justify-content: space-evenly;
    }
}