:root {
    --primary: #1b1c17;
    --secondary: #967244;
    --tertiary: #bb9b73;
    --quaternary: #f0c484;
    --quinar: #f2ede9;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--secondary);
}

h4 {
    margin: 20px 0;
}

a.pen-button button {
    margin: 0 0 10px;
}

/* ---------------------------------- Navbar ---------------------------------- */

.navbar {
    background-color: var(--primary);
}

a.navbar-brand {
    color: var(--quinar);
}

.navbar-toggler {
    border: 1px solid var(--quinar);
    background-color: var(--quinar);
}

.navbar-collapse {
    color: var(--quinar);
}

a.nav-link {
    color: var(--quinar);
}

.border-bottom {
    border-bottom: 1px solid var(--quinar);
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* ---------------------------------- Footer ---------------------------------- */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: var(--quinar);
}

.border-top {
    border-top: 1px solid var(--quinar);
}

/* ---------------------------------- Media Queries ---------------------------------- */

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    ul.navbar-nav.flex-grow-1{
        justify-content: flex-end;
    }
}